<% wrap_layout :layout do %>

<article>
  <header>
    <%= breadcrumbs(current_article) %>
    <h1><%= yield_content(:title) || h(current_page.title) %></h1>
    <section class="page_info">
      <%= partial("partials/article_info", locals: {article: current_article}) %>
    </section>

    <%= render_toc(current_article) %>
  </header>

  <section class="content numbering_headings">
    <%= yield %>
  </section>

  <footer>
    <div>
      Posted by <%= h(config.site_author) %> 
      <% if category = current_article.category %>
      in <%= link_to(h(category), category_path(category)) %>
      <% end %>
      at <%= current_article.date.strftime("%d %b %Y") %> 
      on <%= link_to("this permlink", current_article) %>.
    </div>
    <div class="share_sns">
      <!-- %= partial("partials/share_twitter", locals: {username: 'foo'}) % -->  
      <%= partial("partials/share_twitter") %>  
    </div>
    <ul class="tag_box inline">
      <% blog.tags.each do |tag, pages| %>
        <% if current_article.tags.include? tag %>
          <li>
	    <% caption = "%{tag} <span>%{count}</span>" % {tag: h(tag), count: pages.count} %>
            <%= link_to(caption, "/tags.html#" + h(tag)) %>
	  </li>
	<% end %>
      <% end %>
    </ul>

    <!-- pager -->
    <nav>
      <ul class="pager">
	<% if prev = current_article.previous_article %>
	<li class="previous">
	  <%= link_to("<span>&larr;</span>#{h(prev.short_title)}", prev, "data-toggle" => "", "title" => h(prev.title)) %>
	</li>
	<% end %>

	<% if nxt = current_article.next_article %>
	<li class="next">
	  <%= link_to("#{h(nxt.title)}<span>&rarr;</span>", nxt, "data-toggle" => "", "title" => h(nxt.title)) %>
	</li>
	<% end %>
      </ul>
    </nav>

    <% if extensions.has_key?(:disqus) %>
      <%= disqus %>
      <%= disqus_count %>
    <% end %>

  </footer>
</article>

<% end %>

