

<% page ||= current_page %>
<% page_number ||= page.metadata[:locals]['page_number'] %>

<% pages = page.paginated_resources %>

<div class="text-center">
  <ul class="pagination">
    <% disabled = (page.prev_page.nil?) ? "disabled" : "" %>
    <li class="<%= disabled %>"><%= link_to("&laquo;", page.prev_page) %></li>

    <% pages.each_with_index do |p, i| %>
    <% active = (p == current_page) ? "active" : "" %>
    <li class="<%= active %>"><%= link_to(i + 1, p, :class => active) %></li>
    <% end %>

    <% disabled = (page.next_page.nil?) ? "disabled" : "" %>
    
    <li class="<%= disabled %>"><%= link_to("&raquo;", page.next_page) %></li>
  </ul>
</div>

