<div class="sidebar">
  <!-- %= partial("partials/_google_custom_search") % -->
  <!-- ================ -->
  <aside>
    <h2><%= link_to("Profile", "/profile.html") %></h2>
    <p>
      <%= h(data.config.site_info.author) %> 
      <%= link_to("@" + h(data.config.site_info.twitter), "http://www.twitter.com/" + h(data.config.site_info.twitter)) if data.config.site_info.twitter %>
    </p>
    <p><%= h(data.config.site_info.description) %></p>
  </aside>
  <!-- ================ -->
  <aside class="site_tree">
    <ul>
      <%= aks.site_tree.render(nil, exclude_dirs: [/^archives/, /^tags/], prefix: "sidebar") %>
    </ul>
  </aside>
  <aside>
    <h2>Tags</h2>
    <ul class="tag_box inline">
    <% aks.tags.each do |tag, pages| %>
    <li><% content_tag(:a, href: aks.processors.tag_manager.url_for(tag)) do %>
      <%= h(tag) %><span><%= pages.size %></span>
	<% end %>
    </li>
    <% end %>
    </ul>
  </aside>
  <aside>
    <h2>Archives</h2>
    <ul>
      <% aks.pages.group_by {|a| sprintf("%04d%02d", a.date.year, a.date.month) }.each do |year, pages| %>
      <% page = pages.first %>
      <li><%= link_to_archives(page.date.strftime("%b %Y"), :month, page.date.year, page.date.month) %> (<%= pages.size %>)</li>
      <% end %>
    </ul>
  </aside>
  
  <!-- ================ -->  

  <aside>
    <h2>Recent</h2>

    <% num_recent_articles = 10 %>
    <% aks.pages.reject {|p| p.proxy?}.group_by {|a| a.date}.each do |date, pages | %>
    <h4><%= date.strftime("%d %b %Y") %></h4>
    <ul class="article_list">
      <% pages.each do |page| %>
      <li><%= link_to(h(page.title), page) %></li>
        <% num_recent_articles -= 1 %>
      <% end %>
    </ul>
    <% break if num_recent_articles <= 0 %>
    <% end %>
  </aside>
  
</div>
