<div class="sidebar">
  <!-- %= partial("partials/_google_custom_search") % -->
  <!-- ================ -->
  <aside>
    <h2><%= link_to("Profile", "/profile.html") %></h2>
    <p>
      <%= h(data.config.site_info.author) %> 
      <%= link_to("@" + h(data.config.site_info.twitter), "http://www.twitter.com/" + h(data.config.site_info.twitter)) if data.config.site_info.twitter %>
    </p>
    <p><%= h(data.config.site_info.description) %></p>
  </aside>
  <!-- ================ -->
  <aside class="site_tree">
    <ul>
      <%= aks.site_tree.render(nil, exclude_dirs: [/^archives/], prefix: "sidebar") %>
    </ul>
  </aside>
  <aside>
    <h2>Archives</h2>
    <ul>
      <% aks.pages.group_by {|a| sprintf("%04d%02d", page_date(a).year, page_date(a).month) }.each do |year, pages| %>
      <% page = pages.first %>
      <li><%= link_to_archives(page_date(page).strftime("%b %Y"), :month, page_date(page).year, page_date(page).month) %> (<%= pages.size %>)</li>
      <% end %>
    </ul>
  </aside>
  
  <!-- ================ -->  

  <aside>
    <h2>Recent</h2>

    <% num_recent_articles = 10 %>
    <% aks.pages.reject {|p| p.proxy?}.group_by {|a| page_date(a)}.each do |date, pages | %>
    <h4><%= date.strftime("%d %b %Y") %></h4>
    <ul class="article_list">
      <% pages.each do |page| %>
      <li><%= link_to(h(page_title(page)), page) %></li>
        <% num_recent_articles -= 1 %>
      <% end %>
    </ul>
    <% break if num_recent_articles <= 0 %>
    <% end %>
  </aside>
  
</div>
